.official-news-card-main {
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 500px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.official-news-card{
    margin-top: 2rem;
    margin-left: 2.3rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.56);
    max-width: 90%;
}

.officialBorderedImage{
    min-height:340px;
    max-height: 340px;
    width: 100%;
}
